/* Reset default styles */
body, h1 {
    margin: 0;
    padding: 0;
}

/* Basic styling for body and header */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
}

header {
    background-color: #3498db; /* Blue header background */
    color: #fff; /* White text */
    padding: 20px 0;
    text-align: center;
}

/* Common styles for sections and buttons */
section {
    background-color: #fff; /* White section background */
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Light shadow */
}

button {
    background-color: #3498db; /* Blue button background */
    color: #fff; /* White text on buttons */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

/* Input field styles */
input[type="number"], input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

/* Hidden element */
.hidden {
    display: none;
}

/* Instructions */
.instructions {
    font-style: italic;
    color: #555; /* Dark gray for instructions */
}

/* Footer styles */
footer {
    text-align: center;
    background-color: #3498db; /* Blue footer background */
    color: #fff; /* White text in footer */
    padding: 10px 0;
    margin-top: 20px;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    /* Limit the width of number input fields */
    input[type="number"] {
        max-width: 100px; /* Adjust the width as needed */
    }

    /* Limit the width and increase the height of text input field */
    input[type="text"] {
        max-width: 100px; /* Adjust the width as needed */
        height: 100px; /* Adjust the height as needed */
    }

    /* Adjust spacing between buttons for mobile devices */
    #name-generator button {
        display: block;
        margin-bottom: 10px; /* Add some vertical spacing between the buttons */
    }
}