/* Reset some default styles */
body, h1, h2, p, ul, li, button, input[type="number"], input[type="text"] {
    margin: 0;
    padding: 0;
    width: 100%; /* Set width to 100% for input fields */
    box-sizing: border-box; /* Ensure padding and border are included in the total width */
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

/* Input Styles */
input[type="number"], input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button Styles */
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/* Hidden Class */
.hidden {
    display: none;
}

/* Mobile Styles */
@media (max-width: 600px) {
    section {
        padding: 10px;
    }
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Print Button Styles */
#print-results {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

#print-results:hover {
    background-color: #555;
}
